.odd {
    background-color: rgb(255,85,85);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#even {
    color:rgb(0,0,255);
    font-size:36px;
}

.odd.three {
    font-size:24px;
}

#four {
    background-color: rgb(0,255,0);
    font-size:24px;
    font-weight:700;
}